body {
  background-color: #FCDEC0;
}

hr {
  background-color: yellow;
  border-style: none;
  border-top-style: dotted;
  border-color: red;
  border-width: 5px;
  width: 95%;

}

h1{
  color:#66BFBF;
}

h3{
  color:#66BFBF;
}

.circular{
  border-radius: 100%;
}

a:hover{
  color: white;
}

.abc{
  background-color: #FFC069;
  font-size: 30px;
  font: Verdana;
}

/*ol{
  border-style: hidden;
}*/
